
<ul class="sidebar navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Brands")">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Brands</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Categories")">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Categories</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Products")">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Products</span>
        </a>
    </li>

</ul>
